<div id="<%= dom_id human_resource %>">
  <p>
    <strong>Member id:</strong>
    <%= human_resource.Member_ID %>
  </p>

  <p>
    <strong>Member name:</strong>
    <%= human_resource.Member_Name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= human_resource.Contact_Number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= human_resource.Email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= human_resource.Department %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= human_resource.Description %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= human_resource.Position %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= human_resource.Bio %>
  </p>

</div>
