<div id="<%= dom_id event_operation %>">
  <p>
    <strong>Task id:</strong>
    <%= event_operation.Task_ID %>
  </p>

  <p>
    <strong>Task name:</strong>
    <%= event_operation.Task_Name %>
  </p>

  <p>
    <strong>Person in charge:</strong>
    <%= event_operation.Person_in_Charge %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event_operation.Description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= event_operation.Deadline %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event_operation.Status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= event_operation.Note %>
  </p>

</div>
