<%= form_with(model: event_operation) do |form| %>
<% if event_operation.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(event_operation.errors.count, "error") %> prohibited this event_operation from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% event_operation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :Task_ID, class: label_class %>
          <%= form.number_field :Task_ID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Task_Name, class: label_class %>
          <%= form.text_area :Task_Name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Person_in_Charge, class: label_class %>
          <%= form.text_area :Person_in_Charge, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Description, class: label_class %>
          <%= form.text_area :Description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Deadline, class: label_class %>
          <%= form.datetime_field :Deadline, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Status, class: label_class %>
          <%= form.text_area :Status, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Note, class: label_class %>
          <%= form.text_area :Note, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if event_operation.persisted? %>
<%= link_to "Cancel", event_operation, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", event_operations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
