<%= form_with(model: sponsor) do |form| %>
<% if sponsor.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% sponsor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :Sponsor_ID, class: label_class %>
          <%= form.number_field :Sponsor_ID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Sponsor_Name, class: label_class %>
          <%= form.text_area :Sponsor_Name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Contact_Number, class: label_class %>
          <%= form.number_field :Contact_Number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Email, class: label_class %>
          <%= form.text_area :Email, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Address, class: label_class %>
          <%= form.text_area :Address, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Sponsor_Type, class: label_class %>
          <%= form.text_area :Sponsor_Type, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Sponsorship_Level, class: label_class %>
          <%= form.text_area :Sponsorship_Level, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Image_File, class: label_class %>
          <%= form.file_field :Image_File, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Website_Link, class: label_class %>
          <%= form.text_field :Website_Link, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Contract_File, class: label_class %>
          <%= form.file_field :Contract_File, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Person_in_Charge, class: label_class %>
          <%= form.text_area :Person_in_Charge, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Note, class: label_class %>
          <%= form.text_area :Note, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if sponsor.persisted? %>
<%= link_to "Cancel", sponsor, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", sponsors_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
