<div id="<%= dom_id sponsor_level %>">
  <p>
    <strong>Level id:</strong>
    <%= sponsor_level.Level_ID %>
  </p>

  <p>
    <strong>Level name:</strong>
    <%= sponsor_level.Level_Name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= sponsor_level.Value %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sponsor_level.Description %>
  </p>

</div>
