<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Sponsor_level</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to sponsor_levels_path, class: button_class(theme: "transparent") do %>
      All Sponsor_levels
      <% end %>
      <%= link_to edit_sponsor_level_path(@sponsor_level), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Level id:</p>
        <p><%= @sponsor_level.Level_ID %></p>
      </li>
      <li>
        <p class="font-semibold">Level name:</p>
        <p><%= @sponsor_level.Level_Name %></p>
      </li>
      <li>
        <p class="font-semibold">Value:</p>
        <p><%= @sponsor_level.Value %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @sponsor_level.Description %></p>
      </li>
  </ul>
</div>
