<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Marketing</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to marketings_path, class: button_class(theme: "transparent") do %>
      All Marketings
      <% end %>
      <%= link_to edit_marketing_path(@marketing), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Content:</p>
        <p><%= @marketing.Content %></p>
      </li>
      <li>
        <p class="font-semibold">Marcom id:</p>
        <p><%= @marketing.Marcom_ID %></p>
      </li>
      <li>
        <p class="font-semibold">Content name:</p>
        <p><%= @marketing.Content_Name %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @marketing.Description %></p>
      </li>
      <li>
        <p class="font-semibold">File:</p>
        <p><%= @marketing.File %></p>
      </li>
      <li>
        <p class="font-semibold">Social networking platform:</p>
        <p><%= @marketing.Social_Networking_Platform %></p>
      </li>
      <li>
        <p class="font-semibold">Person in charge:</p>
        <p><%= @marketing.Person_in_Charge %></p>
      </li>
      <li>
        <p class="font-semibold">Note:</p>
        <p><%= @marketing.Note %></p>
      </li>
  </ul>
</div>
