<%= form_with(model: product) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name_of_product, class: label_class %>
          <%= form.text_area :name_of_product, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.datetime_field :date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :origin, class: label_class %>
          <%= form.text_area :origin, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :packaging_measure, class: label_class %>
          <%= form.text_area :packaging_measure, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :supplier, class: label_class %>
          <%= form.text_area :supplier, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if product.persisted? %>
<%= link_to "Cancel", product, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", products_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
