<div id="<%= dom_id product %>">
  <p>
    <strong>Name of product:</strong>
    <%= product.name_of_product %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= product.date %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= product.origin %>
  </p>

  <p>
    <strong>Packaging measure:</strong>
    <%= product.packaging_measure %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= product.supplier %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

</div>
